/*
!/.gitignore

!/.scripts
/.scripts/apause

!/.gitconfig
!/.vimrc
!/.gvimrc
!/.tmux.conf
!/.bashrc

!/.ssh/
/.ssh/*
!/.ssh/config
!/.termux/
/.termux/*
!/.termux/termux.properties
!/.termux/font.ttf
!/.termux/tasker/
!/.vim/
/.vim/*
!/.vim/backups/
!/.vim/keymap/
!/.vim/pack/
!/.fonts/
/.fonts/**/.uuid
!/.themes/
!/.config/
/.config/*
!/.config/nvim/
!/.config/mpv/
/.config/mpv/watch_later/*
