/*
!/.gitignore

!/.scripts
/.scripts/apause

!/.gitconfig
!/.vimrc
!/.gvimrc
!/.tmux.conf
!/.bashrc
!/.termux/

!/.vim/
/.vim/*
!/.vim/backups/
!/.vim/keymap/
!/.fonts/
/.fonts/**/.uuid
!/.themes/
!/.config/
/.config/*
!/.config/mpv/
/.config/mpv/watch_later/*
